@import url('/packages/Roboto/stylesheet.css');

body, html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .hide-on-small-screens {
        display: none; !important
    }
}

@media only screen and (min-width: 601px) {
	.hide-on-big-screens {
		display: none; !important;
	}
}
